.navbar {
  background: transparent !important;
  position: absolute;
  top: 0;
  z-index: 999;
  left: 0;
  width: 100%;
  height: 70px;
  font-size: 1.1em;
}
.navbar-brand {
  color: $color-primary-4 !important;
  font-weight: 600;
}


.text-logo {
  font-size: 100px;
  font-weight: bold;
  padding-top: 60px;
}

.header-slider {
  padding: 0px;
  background-color: #000;
}

.header-item {
  position: relative;
  /*overflow: hidden;*/
  height: 56.25vw;
}

.header-item .video-player {
  position: absolute;
  /* z-index: -1; */
  top: 0;
  width: 100%;
}

.header-item .info {
  position: absolute;
  top: 0;
  width: 40%;
  height: 130%;
  color: white;
  margin: 60px;
  transition-duration: 500ms;
  transition-delay: 0ms;
}

@media screen and (max-width: 700px) {
  .header-item .info {
    position: absolute;
    /*top: 50px;*/
    height: 100%;
    width: 80%;
    color: white;
    margin: 40px;
    /*margin-top: 100px;*/
  }
}

.header-item .bg {
  height: 100%;
  width: 100%;
  background: $color-primary-0;
  background-size: cover !important;
  display: flex;
  flex-direction: column;
}

.header-item .logo {
  padding-top: 3vh;
  width: 90%;
}

@media screen and (max-width: 700px) {
  .header-item .logo {
    padding-top: 10px;
    width: 70%;
  }
}

.header-item p {
  font-weight: 600;
  font-size: 1.4em;
}

.header-item button {
  background-color: rgba(51,51,51,.4);
  border-width: 0;
  padding: .75em 2.3em;
  -webkit-border-radius: .2vw;
  -moz-border-radius: .2vw;
  border-radius: .2vw;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 1.1vw;
  color: white;
  margin-right: 15px;
  font-weight: bold;
}

.header-item button i {
  padding-right: 10px;
}

.header-item .seasons {
  font-size: 1.6vw;
  font-weight: 700;
}

.header-item .plot {
  font-weight: 400;
  line-height: normal;
  width: 100%;
  font-size: 1.6vw;
  margin-top: -20px;
}

.header-series {
  width: 100%;
}

.header-series .info {
  width: 80%;
}

.navbar input[type="text"] {
  background: rgba(0, 0,0 ,0);
  border-width: 1px;
  border-color: $rgba-primary-4;
}
.navbar input[type="text"]:focus {
  border-color: $rgba-primary-4;
}
.navbar input[type="text"]::placeholder {
  color: white;
}
.navbar .search {
  background: rgba(0, 0, 0, 0);
  color: $rgba-primary-4;
  border-color: $rgba-primary-4;
  position: relative;
  left: -7px;
  border-left: none;
}
.navbar .search:focus {
  border-color: $rgba-primary-4;
}
.navbar button {
  box-shadow: 0px 0px;
}
.navbar .profile {
  width: 30px;
  padding-right: 10px;
  margin: 0;
}
