@import './base.scss';
@import './header.scss';
@import './footer.scss';
@import './commons.scss';
@import './cards.scss';
@import './fonts.scss';

body {
  font-family: 'Abel';
  background-attachment:fixed;
  background: #141414;
}

main {
  margin: 0px;
}

